@model proje.Models.Entities.kisi
@{
    ViewBag.Title = "MailGonder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.ad @Model.soyad Kişisine Mail Gönder</h2>

<form action="/kisi/MailGonder/" method="post">

    <div class="form-group">
        <label>Mail Adres</label>
        <input type="text" class="form-control" value="@Model.email" name="email" readonly />
    </div>

    <div class="form-group">
        <label>Başlık</label>
        <input type="text" class="form-control" name="baslik" />
    </div>

    <div class="form-group">
        <label>Mesaj</label>
        <input type="text" class="form-control" name="mesaj" />
    </div>

    <button type="submit" class="btn btn-primary">Gönder</button>

</form>

